html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



// * {
//   transition: all 10s;
// }

html {
  height: 100%;
}

body {
  height: 100%;
}

img {
  max-width: 100%;
}

.nav {
  position: absolute;
  right: 0;
}

.switch {
  position: relative;

}

.sidebar {
  width: 500px;
  left: 0;
  height: 100%;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  background: #eee;
  min-height: 20px;

  .ng-enter, .ng-leave {
    transition: all .25s;
  }

  &.slide {
    &.forward {
      .viewport {
        &.ng-enter {
          left: 100%;
        }
        &.ng-enter-active.ng-enter {
          left: 0;
        }
        &.ng-leave {
          left: 0;
        }
        &.ng-leave-active.ng-leave {
          left: -100%;
        }
      }
    }
    &.backward {
      .viewport {
        &.ng-enter {
          left: -100%;
        }
        &.ng-enter-active.ng-enter {
          left: 0;
        }
        &.ng-leave {
          left: 0;
        }
        &.ng-leave-active.ng-leave {
          left: 100%;
        }
      }
    }
  }
}

.viewport {
  min-height: 20px;
  min-width: 20px;
  position: absolute;
  width: 500px;
  display: inline-block;
  &.ng-enter {
    opacity: 0;
  }
  &.ng-enter-active.ng-enter {
    opacity: 1;
  }
  &.ng-leave {
    opacity: 1;
  }
  &.ng-leave-active.ng-leave {
    opacity: 0;
  }
}
